{@com.redhat.openshift.knative.showcase.domain.entity.Project project}
{@com.redhat.openshift.knative.showcase.config.EventsConfiguration config}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{project.artifact} - {project.version}</title>
  <link href="/style.css" rel="stylesheet"/>
  <link rel="icon"
      type="image/svg+xml"
      href="/rhoss-icon.svg">
</head>
<body>

<section class="banner lead">
  <img class="logo" src="/rhoss-icon.svg" />
  Welcome to Serverless, Cloud-Native world!
</section>

<section class="container">
  <section class="left-column">
    <h2>What can I do from here?</h2>

    <p>
      Invoke a hello endpoint: <a href="/hello">/hello</a>.<br />
      <span class="note">💡 It will send CloudEvent to <code>K_SINK = {config.sink}</code></span>
    </p>

    <h3>Powered by:</h3>
    <div class="references">
      <img class="thumbnail"
        src="//design.jboss.org/quarkus/logo/final/SVG/quarkus_logo_vertical_rgb_default.svg" />

      <img class="thumbnail"
        src="//raw.githubusercontent.com/knative/website/master/assets/icons/logo.svg" />
    </div>
    <p>This application has been written with Quarkus to showcase Knative.</p>
  </section>
  <section class="right-column">
    <div class="right-section">
      <h3>Application</h3>
      <ul>
        <li>Group: <code>{project.group}</code></li>
        <li>Artifact: <code>{project.artifact}</code></li>
        <li>Version: <code>{project.version}</code></li>
        <li>Quarkus Version: <code>{project.platform.quarkus}</code></li>
      </ul>
    </div>
  </section>
</section>


</body>
</html>
